html,
body {
  background-color: #252839 !important;
}
p {
  align-content: center;
  background-color: #416a8e73;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 6em;
}
p > span {
  opacity: 0.4;
  text-align: center;
}
.footerText {
  align-content: center;
  background-color: transparent;
  color: #8d8e96;
  display: block;
  flex-direction: column;
  justify-content: center;
  min-height: 1em;
}
