html,
body {
  background-color: #252839 !important;
}
p {
  align-content: center;
  background-color: #416a8e73;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 6em;
}
p > span {
  opacity: 0.4;
  text-align: center;
}

.gridContent {
  align-content: center;
  background-color: #416a8e73;
  color: #fff;
  display: grid;
  flex-direction: column;
  justify-content: center;
  min-height: 10em;
}

.gridLink {
  color: #ffffff;
  text-decoration: none;
}
.gridLink:hover {
  color: #ffffffb8;
}

.appContent {
  align-content: center;
  background-color: #416a8e00;
  color: #fff;
  display: grid;
  flex-direction: column;
  justify-content: center;
  min-height: 0em;
}

.footerText {
  align-content: center;
  background-color: transparent;
  color: #8d8e96;
  display: block;
  flex-direction: column;
  justify-content: center;
  min-height: 1em;
}
